@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Kanit:wght@200&family=Tilt+Neon&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

body {
  background-color: rgb(27,25,37) !important;
  font-family: 'Kanit', sans-serif !important;
  font-family: 'Alkatra', cursive !important;
  font-family: 'Tilt Neon', cursive !important;
  font-family: 'Ubuntu', sans-serif !important;
}

h1{
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 30px;
}

h3{
  color: #00cc99 !important;
  font-weight: 300 !important;
  font-size: 20px;
}

h5{
  color: #00cc99 !important;
  font-weight: 300 !important;
  font-size: 14px;
}

p{
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 14px;
}

